{% extends "bootstrap/base.html" %}

{% block html %}
  
  {% block head %}

    {% block title %}
      <div class="col-sm-12">
      <title>Correspondence Server</title>
      <h3>Correspondence Server Homepage</h3>
      </div>
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://rnatest.bgsu.edu/rna3dhub/icons/C_icon.png">
    <link href="http://rnatest.bgsu.edu/corr-server/static/bootstrap.min.css" rel="stylesheet" media="screen">
    <!--<link href="/static/styling.css" rel="stylesheet" media="screen">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
    <script src="http://rnatest.bgsu.edu/rna3dhub/js/jsmol/JSmol.min.nojq.js"></script>
    <script src="http://rnatest.bgsu.edu/rna3dhub/js/jquery.jmolTools.js""></script>

    <script type="text/javascript">

          var jmolApplet0; // set up in HTML table, below

          // logic is set by indicating order of USE -- default is HTML5 for this test page, though
          var use = "HTML5" // JAVA HTML5 WEBGL IMAGE  are all otions

          jmol_isReady = function(applet) {
              Jmol._getElement(applet, "appletdiv").style.border="1px solid blue";
              $('.jmolInline').first().jmolToggle();
          }

          var Info = {
              width: 400,
              height: 400,
              debug: false,
              color: "white",
              addSelectionOptions: false,
              use: "HTML5",
              j2sPath: "http://rnatest.bgsu.edu/rna3dhub/js/jsmol/j2s/",
              readyFunction: jmol_isReady,
              //script: script,
              //jarPath: "java",
              //jarFile: (useSignedApplet ? "JmolAppletSigned.jar" : "JmolApplet.jar"),
              //isSigned: useSignedApplet,
              //disableJ2SLoadMonitor: true,
              disableInitialConsole: true
              //defaultModel: "$dopamine",
              //console: "none", // default will be jmolApplet0_infodiv
          }


          // these are conveniences that mimic behavior of Jmol.js

          function jmolCheckbox(script1, script0,text,ischecked) {Jmol.jmolCheckbox(jmolApplet0,script1, script0, text, ischecked)}
          function jmolButton(script, text) {Jmol.jmolButton(jmolApplet0, script,text)}
          function jmolHtml(s) { document.write(s) };
          function jmolBr() { jmolHtml("<br />") }
          function jmolMenu(a) {Jmol.jmolMenu(jmolApplet0, a)}
          function jmolScript(cmd) {Jmol.script(jmolApplet0, cmd)}
          function jmolScriptWait(cmd) {Jmol.scriptWait(jmolApplet0, cmd)}

    </script>

  {% endblock %}

  {% block body %}
    
    {% block content %}

      <div class="col-sm-12">
          <h5>Query PDB structure: <span style="font-weight:normal"> {{ query_pdb}} </span></h5>
          <h5>Query nucleotides: <span style="font-weight:normal"> {{ query_nts}} </span></h5>
        </br>
      </div>

      <div class="col-sm-8" >

          <table class="table table-bordered">
            <tr>
              <th scope="col">Ife</th>
              <th scope="col">Nucleotides</th>
              <!--<th scope="col">Corresponding Residues</th>-->
            </tr>
            {% for a,b in data %}
            <tr>
              <td><input type='checkbox' id='{{a}}' class='jmolInline' data-coord = '{{b}}' data-quality = '{{b}}'>{{a}}</td>
                <td>{{ b }}</td>
            </tr>
            {% endfor %}
          </table>

      </div>

      <div class="col-sm-4">

          <script type="text/javascript">

          jmolApplet0 = Jmol.getApplet("jmolApplet0", Info);

          $(document).ready(function(){
          // initialize the plugin
              $('.jmolInline').jmolTools({
                  showStereoId: 'stereo2',
                  showNeighborhoodId: 'neighborhood',
                  showNumbersId: 'showNtNums',
                  colorOption: 'colorOPT',
                  showNextId: 'next',
                  showPrevId: 'prev',
                  showAllId: 'all'
              });

          });

          </script>

          <input type="button" id="neighborhood" value="Show neighborhood">
          <input type="button" id="prev" value="Previous">
          <input type="button" id="next" value="Next">
          <input type="button" id='all' value='Show all'>
          <label><input type="checkbox" id="showNtNums">Nucleotide numbers</label>
          <!--<label><input type="checkbox" id="stereo1">Stereo</label>-->
          <input type="button" id="stereo2" value="Stereo">

          Coloring options: <select id="colorOPT">
                          <option value="Default" selected>Default</option>
                          <option value="CPK">CPK</option>
                          <option value="RSR">Real Space R (RSR)</option>
                          <option value="RSRZ">RSR Z-Score (RSRZ)</option></select>

      </div>

    {% endblock %}

  {% endblock %}
    

{% endblock %}