<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  

  </head>
  <body>
    <div class="container">
      <h2>Correspondence Server</h2>
      </br>
      <h5>Query Residue 1: {{ query_res1}}</h5>
      <h5>Query Residue 2: {{ query_res2}}</h5>
      </br> 

      {% for elem in center %}
        {{ elem.x }}
      {% endfor %}

      <table style="width:90%">
        <tr>
          <th>Corresponding Residue 1</th>
          <th>Center X</th>
          <th>Center Y</th>
          <th>Center Z</th>
          <th>Corresponding Residue 2</th> 
          <th>Center X</th>
          <th>Center Y</th>
          <th>Center Z</th>
        </tr>
        {% for res1_correspondence, res1_center_x, res1_center_y, res1_center_z, res2_correspondence, res2_center_x, res2_center_y, res2_center_z in table_items %}
        <tr>
        <td>{{ res1_correspondence }}</td>
        <td>{{ res1_center_x }}</td>
        <td>{{ res1_center_y }}</td>
        <td>{{ res1_center_z }}</td>
        <td>{{ res2_correspondence }}</td>
        <td>{{ res2_center_x }}</td>
        <td>{{ res2_center_y }}</td>
        <td>{{ res2_center_z }}</td> 
        </tr>
        {% endfor %}
      </table>
      </br>

      
      <table style="width:90%">
        <tr>
          <th>Corresponding Residue 1</th>
          <th>Cell_0_0</th>
          <th>Cell_0_1</th>
          <th>Cell_0_2</th>
          <th>Cell_1_0</th>
          <th>Cell_1_1</th>
          <th>Cell_1_2</th>
          <th>Cell_2_0</th>
          <th>Cell_2_1</th>
          <th>Cell_2_2</th>
        </tr>
        {% for res1_correspondence, res1_cell_0_0, res1_cell_0_1, res1_cell_0_2, res1_cell_1_0, res1_cell_1_1, res1_cell_1_2, res1_cell_2_0, res1_cell_2_1, res1_cell_2_2 in table_rot1_items %}
        <tr>
        <td>{{ res1_correspondence }}</td>
        <td>{{ res1_cell_0_0 }}</td>
        <td>{{ res1_cell_0_1 }}</td>
        <td>{{ res1_cell_0_2 }}</td>
        <td>{{ res1_cell_1_0 }}</td>
        <td>{{ res1_cell_1_1 }}</td>
        <td>{{ res1_cell_1_2 }}</td>
        <td>{{ res1_cell_2_0 }}</td>
        <td>{{ res1_cell_2_1 }}</td>
        <td>{{ res1_cell_2_2 }}</td>   
        </tr>
        {% endfor %}
      </table>
      </br>

    <table style="width:90%">
        <tr>
          <th>Corresponding Residue 2</th>
          <th>Cell_0_0</th>
          <th>Cell_0_1</th>
          <th>Cell_0_2</th>
          <th>Cell_1_0</th>
          <th>Cell_1_1</th>
          <th>Cell_1_2</th>
          <th>Cell_2_0</th>
          <th>Cell_2_1</th>
          <th>Cell_2_2</th>
        </tr>
        {% for res2_correspondence, res2_cell_0_0, res2_cell_0_1, res2_cell_0_2, res2_cell_1_0, res2_cell_1_1, res2_cell_1_2, res2_cell_2_0, res2_cell_2_1, res2_cell_2_2 in table_rot2_items %}
        <tr>
        <td>{{ res2_correspondence }}</td>
        <td>{{ res2_cell_0_0 }}</td>
        <td>{{ res2_cell_0_1 }}</td>
        <td>{{ res2_cell_0_2 }}</td>
        <td>{{ res2_cell_1_0 }}</td>
        <td>{{ res2_cell_1_1 }}</td>
        <td>{{ res2_cell_1_2 }}</td>
        <td>{{ res2_cell_2_0 }}</td>
        <td>{{ res2_cell_2_1 }}</td>
        <td>{{ res2_cell_2_2 }}</td>   
        </tr>
        {% endfor %}
      </table>
      </br>
      
      
    </div>
  </body>
</html>